/* Top Bar - 1 */
.top-message {
  text-align: center;
}

/* Bar with menu and log */
#right-bar > h1 {
  margin: 0;
}

#middle-bar {
  width: 100%;
  text-align: center;
}

#left-bar {
  display: flex;
}

/* Background Homepage Tile */
.homepage {
  position: relative;
}

#homepage-background-img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.welcome-text {
  position: absolute;
  top: 50%;
  right: 10%;
}
