body {
  margin: 0;
}

/* Top Bar - 1 */
.mobile-menu-container {
  display: none;
}

.top-message {
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 10px;
  background: #222831;
}

.top-message > p {
  margin: 0;
  padding: 7px 0 5px;
  color: white;
}

.logo-link {
  color: #222831;
  text-decoration: none;
}

.logo-link > a:link {
  text-decoration: none;
  padding: 0 10px;
  color: #222831;
}

.logo-link > a:visited {
  text-decoration: none;
  color: #222831;
  transform: scale(1);
}

.logo-link > a:hover {
  color: white;
}

.logo-link > a:active {
  transform: scale(0.96);
}

/* Bar with menu and log */
.fa-bars {
  display: none;
}

.menu-logo-bar {
  padding: 5px 20px;
  color: #222831;
  background-color: #e1afad;
}

.welcome-text > h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 40px;
  width: 75%;
}

#right-bar > h1 {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
}

#middle-bar-desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: Merriweather, serif;
}

#middle-bar-desktop > a {
  padding: 0 10px;
  font-size: 15px;
  text-decoration: none;
  color: #222831;
  transition: 0.3s;
}

#middle-bar-desktop > a:link {
  text-decoration: none;
  padding: 0 10px;
  color: #222831;
}

#middle-bar-desktop > a:visited {
  text-decoration: none;
  color: #222831;
  transform: scale(1);
}

#middle-bar-desktop > a:hover {
  color: white;
}

#middle-bar-desktop > a:active {
  transform: scale(0.96);
}

#left-bar {
  display: flex;
  align-items: center;
}

.left-icons {
  padding: 0 0 0 15px;
}

/* Background Homepage Tile */
.welcome {
  position: relative;
  height: 700px;
}

#homepage-background-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.welcome-text {
  position: absolute;
  font-family: Merriweather, sans-serif;
  top: 35%;
  right: 8%;
}

.welcome-text > h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
  width: 75%;
}

.now-button {
  border-radius: 20px;
  border-style: none;
  font-size: 17px;
  padding: 10px 20px;
  font-family: "Merriweather Sans", sans-serif;
  transition: transform 0.3s;
  transition: background-color 0.4s;
}

.now-button:link {
  color: #222831;
  background-color: white;
}

.now-button:visited {
  color: #222831;
  background-color: white;
  transform: scale(1);
}

.now-button:hover {
  color: white;
  background-color: #222831;
}

.now-button:active {
  transform: scale(0.97);
}

/* Carousel */
.carousel-section {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.carousel-row {
  position: relative;
  background-color: white;
}

.carousel-group {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 95%;
  margin: 20px auto;
}

.carousel-tile {
  width: 23%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: grid;
  place-items: center;
  background: white;
  flex-shrink: 0;
}

.carousel-image {
  width: 65%;
}

/* Category Page */
.category-title-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-tiles-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1%;
}

.category-list-item {
  width: 32%;
  display: flex;
  margin-bottom: 1%;
  flex-wrap: wrap;
}

.image-product-category-div {
  background: #e5e5e5;
}

.product-title-category {
  font-size: 0.9rem;
}

.category-tile-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: brightness(90%);
}

.hidden-carousel {
  display: none;
}

@media (max-width: 570px) {
  .menu-icon {
    padding-top: 1rem;
    width: 63.5px;
  }

  .fa-bars {
    display: contents;
  }

  #middle-bar-desktop {
    display: none;
  }

  .row {
    justify-content: space-between;
  }

  .box {
    background-color: red;
  }

  .welcome {
    position: relative;
    height: 600px;
  }

  #homepage-background-img {
    height: 100%;
  }

  .welcome-text {
    position: absolute;
    font-family: Merriweather, sans-serif;
    top: 30%;
    left: 37%;
    width: 60%;
  }

  .welcome-text > h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  .welcome-text > h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .now-button {
    border-radius: 20px;
    border-style: none;
    font-size: 0.7rem;
    padding: 7px 15px;
    font-family: "Merriweather Sans", sans-serif;
  }

  .carousel-group {
    overflow: hidden;
  }

  .product-tiles-category {
    margin-top: 0.2rem;
  }

  .carousel-tile {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background: white;
    flex-shrink: 0;
  }

  .category-list-item {
    width: 49.5%;
    justify-content: space-evenly;
  }

  .title-price-category {
    width: 95%;
  }

  .category-background-image {
    display: none;
  }

  #middle-bar-mobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: #222831;
  }

  .mobile-categories-span {
    display: flex;
    padding-top: 10%;
    padding-left: 5%;
  }

  .mobile-menu-container {
    display: contents;
    display: flex;
  }

  .mobile-link-container {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 95vh;
    z-index: 1;
    background-color: #e1afad;
    font-family: Merriweather, sans-serif;
  }

  .categories-mobile-bar {
    text-decoration: none;
    color: #222831;
    transition: 0.3s;
  }

  .categories-mobile-bar:link {
    text-decoration: none;
    color: #222831;
  }

  .categories-mobile-bar:visited {
    text-decoration: none;
    color: #222831;
    transform: scale(1);
  }

  .categories-mobile-bar:hover {
    color: white;
  }

  .categories-mobile-bar:active {
    transform: scale(0.96);
  }

  .right-icon {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
}
